* {
    box-sizing: border-box; 
}

/* colors & variables */
html {
    --background-color: #FFFFFF;
    --nav-background-color: #8b7bbe;
    --hover-color: #7c6faa;
    --surface-color: #F3F4F6;
    --primary-text-color: #111827;
    --secondary-text-color: #6b7280;
    --divider-color: #d1d5db;
    --drop-shadow-color: #00000025;
}

/* basic styling */
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    background-color: var(--background-color);
    color: var(--primary-text-color);
    margin: 0 auto;
    padding: 0;
    height: 100vh;
}

/* font styling */
h1 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 30px;
}

h2 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 30px;
}

p.primary {
    font-size: 1rem;
    font-weight: 300;
    line-height: 30px;
}

p.secondary {
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 20px;
}

.button {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 20px;
}

/* component styling */

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--nav-background-color);
    color: var(--background-color);
    padding: 0.5rem 1rem;

    #actions {
        display: flex;
        gap: 2rem;
    }
}

nav {
    display: flex;
    flex-direction: column;
    gap: 36px;
    background-color: var(--nav-background-color);
    padding: 1rem;
    height: 100%;
    width: fit-content;

    position: absolute;

    .nav-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--background-color);
        border: 0;
        box-shadow: 0 4px 4px var(--drop-shadow-color);
        height: 56px;
        text-decoration: none;
        width: 260px;
    }

    .nav-button:hover {
        background-color: var(--divider-color);
        cursor: pointer;
    }

    .nav-button:hover {
        background-color: var(--divider-color);
        cursor: pointer;
    }

    .active {
        background-color: var(--primary-text-color);
        color: var(--background-color);
    }
}

/* content styling */

main {
    margin: 2rem;
    padding-left: 292px;
    height: 100%;
}

table {
    background-color: var(--surface-color);
    border: 5px solid var(--divider-color);
    border-collapse: collapse;
    width: 100%;
}

th, tr, td {
    border: 2px solid var(--divider-color);
    padding: 1rem;
}

#title {
    display: flex;
    justify-content: space-between;

    button {
        background-color: var(--nav-background-color);
        border: none;
        box-shadow: 0 4px 4px var(--drop-shadow-color);
        color: var(--background-color);
        height: fit-content;
        padding: 1rem;
    }

    button:hover {
        background-color: var(--hover-color);
        cursor: pointer;
    }
}

/* login styling */

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-left: 0;
}

.card {
    background: var(--surface-color);
    padding: 2rem;
    width: 800px;
    border: 1px solid var(--divider-color);
    box-shadow: 0 4px 4px var(--drop-shadow-color);
}

.card input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 2.5rem;
    margin-top: .5rem;
    border: 1px solid var(--divider-color);
}

.card button {
    width: 100%;
    padding: 0.5rem;
    background: var(--nav-background-color);
    color: white;
    border: none;
}